auto-install-peers=false
strict-peer-dependencies=false

@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=M9vn2VZ72QRLS3VoQVNUPQTB7WdqvHa3hxEjqyxCUExE5pEyvn7iWBjaufQagUJj
